/* Paleta de colores */
:root {
    --primary-color: #b3d84d;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --white: #ffffff;
}

/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
}

header{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 15px 20px;
    text-align: center;
}

nav ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

#titulo{
    color: blue;
    font-size: 2em;
    margin: 0;
}

.bienvenida{
    text-align: center;
    margin: 20px 0;
}