/* Paleta de colores */
:root {
    --primary-color: #b3d84d;
    --secondary-color: #f9f9f9;
    --text-color: #333;
    --white: #ffffff;
}

/* Estilos Generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: var(--secondary-color);
}

header{
    background-color: var(--primary-color);
    color: var(--white);
    padding: 15px 20px;
    text-align: center;
}

nav ul{
    list-style:none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline;
    margin-right: 15px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
}

#titulo{
    color: blue;
    font-size: 2em;
    margin: 0;
}

.bienvenida{
    text-align: center;
    margin: 20px 0;
}


/* Estilos específicos por página */
/* Página 'Contacto' */
/* Página 'Nosotros' */
/* Página 'Galería' */
/* Página 'Index' */
/* Página 'Servicios' */
/* Página 'Ubicación' */

/* Página 'Registro' */
.registro form {
    margin: auto;
    padding: 20px;
    width: 50%;
    background: var(--white);
    border-radius: 8px;
}

.registro label {
    margin: 10px 0;
    display: block;
    font-weight: bold;
}

.registro input, .registro select{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

.registro button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Página 'Login' */
.login form {
    margin: auto;
    padding: 20px;
    width: 50%;
    background: var(--white);
    border-radius: 8px;
}

.login label {
    margin: 10px 0;
    display: block;
    font-weight: bold;
}

.login input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login button {
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.login button:hover {
    background-color: #45a049;
}