@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800&amp;display=swap");
/*-------------------*/
/* Paleta de colores */
/*-------------------*/
:root {
  --primary-font: "Montserrat", Arial, sans-serif;
  --secondary-font: "Arial", sans-serif;
  --primary-color: #b3d84d;;
  --secondary-color: #e9c46a;
  --text-color: #264653;
  --primary-background: #b3d84d;;
  --secondary-background: #f4f4f9;
  --white: #ffffff;
  --button-primary-color: #2a9d8f; 
  --button-hover-color: #21867a; 
  --button-text-color: #ffffff; 
}

/*-------------------*/
/* Estilos Generales */
/*-------------------*/
body {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
  background-color: var(--secondary-background);
  color: var(--text-color);
}

/* Logo y Navegación */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

#img-logo {
  box-shadow: none;
  max-width: 300px;
  height: auto;
}

nav {
  flex-grow: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:focus,
nav ul li a:hover {
  text-decoration: underline;
}

header,
footer {
  background-color: var(--primary-background);
  color: var(--white);
  text-align: center;
}

main {
  padding: 20px;
  padding-top: 10px;
  text-align: center;
}

/* Estilos para el pie de página */
footer {
  background-color: var(--primary-background);
  color: var(--white);
  text-align: center;
  padding: 15px 20px;
}

/* Estilos para el disclaimer */
footer .disclaimer {
  font-size: 0.9em;
  color: var(--white);
  margin-top: 10px;
}

/* Estilos WhatsApp */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: calc(20px + 1rem);
  z-index: 100;
}

.whatsapp-float img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para secciones y artículos */
section,
article {
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Reglas de estilo generales para todas las imágenes */
img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Reglas de estilo generales para todos los placeholders */
input::placeholder,
textarea::placeholder,
select::placeholder,
input[type="file"]::placeholder {
  font-family: var(--primary-font);
  color: #aaa;
}

/* Reglas de estilo generales para todos los inputs en general */
input,
textarea,
select,
button {
  font-family: var(--primary-font);
}

/*---------------------------------*/
/* Estilos específicos por página */
/*---------------------------------*/

/*---------------------------------*/
/* Página 'Index' */
/*---------------------------------*/

.bienvenida,
.servicios-destacados,
.info-adicional,
.noticias,
.nuestros-servicios {
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bienvenida img,
.servicios-destacados img,
.info-adicional img,
.noticias img {
  max-width: 300px;
}

/*---------------------------------*/
/* Página 'Servicios' */
/*---------------------------------*/
.servicio {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  vertical-align: top;
  width: calc(33% - 40px);
}
.nuestros-servicios {
  display: block;
  text-align: center;
}
.servicio img {
  max-width: 300px;
  border-radius: 8px;
}
.servicio h3 {
  margin-top: 10px;
}

/*---------------------------------*/
/* Página 'Nosotros' */
/*---------------------------------*/
.sobre-nosotros {
  margin: 20px;
  background-color: var(--white);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.multimedia {
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.video,
.audio {
  margin-top: 20px;
}

video,
audio {
  width: 100%;
  border-radius: 8px;
}

.video-nosotros {
  height: 400px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

/*---------------------------------*/
/* Página 'Galería' */
/*---------------------------------*/
.galeria {
  display: block;
  text-align: center;
}

.galeria img,
.galeria-contenedor .galeria-item img,
.imagen-galeria img {
  max-width: 300px;
}

.galeria-contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  margin: 20px 0;
}

.galeria-item {
  flex: 1 1 calc(33% - 40px);
  max-width: calc(33% - 40px);
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.galeria-item img {
  width: 100%;
  height: auto;
  display: block;
  align-self: center;
}

.imagen-galeria {
  margin-bottom: 20px;
  text-align: center;
}

.imagen-galeria img {
  max-width: 100%;
  max-height: 400px;
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*---------------------------------*/
/* Página 'Productos' */
/*---------------------------------*/
.productos {
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productos-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.productos-tabla caption {
  caption-side: top;
  font-size: 1.5em;
  margin-bottom: 10px;
  font-weight: bold;
}

.productos-tabla th,
.productos-tabla td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.productos-tabla th {
  background-color: var(--primary-background);
  color: var(--white);
}

.productos-tabla tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Estilos para el Carousel */
.carousel {
  position: relative;
  width: 80%;
  margin: 0 auto 20px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
  align-items: center;
}

.carousel-item {
  min-width: calc(100% / 3);
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 200px;
  object-fit: contain;
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/*---------------------------------*/
/* Página 'Ubicación' */
/*---------------------------------*/
.ubicacion {
  margin: 20px;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.ubicacion p,
.ubicacion a {
  font-size: 16px;
  color: #555;
}

.mapa {
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapa iframe {
  width: 100%;
  height: 450px;
  border: 0;
}

/*---------------------------------*/
/* Página 'Contacto' */
/*---------------------------------*/
.contacto form {
  margin: auto;
  padding: 20px;
  width: 50%;
  background: var(--white);
  border-radius: 8px;
}

.contacto label {
  margin: 10px 0;
  display: block;
  font-weight: bold;
}

.contacto input,
.contacto textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contacto button {
  background-color: var(--primary-background);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contacto button:hover {
  background-color: #45a049;
}

/*---------------------------------*/
/* Página 'Registro' */
/*---------------------------------*/
.registro form {
  margin: auto;
  padding: 20px;
  width: 50%;
  background: var(--white);
  border-radius: 8px;
}

.registro label {
  margin: 10px 0;
  display: block;
  font-weight: bold;
}

.registro input,
.registro textarea,
.registro select {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.registro button {
  background-color: var(--primary-background);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.registro button:hover {
  background-color: #45a049;
}

/*---------------------------------*/
/* Página 'Login' */
/*---------------------------------*/
.login form {
  margin: auto;
  padding: 20px;
  width: 50%;
  background: var(--white);
  border-radius: 8px;
}

.login label {
  margin: 10px 0;
  display: block;
  font-weight: bold;
}

.login input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login button {
  background-color: var(--primary-background);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login button:hover {
  background-color: #45a049;
}

.extra-links {
  text-align: center;
  margin-top: 20px;
}

.extra-links p {
  margin: 10px 0;
}

.extra-links a {
  color: var(--primary-color);
  text-decoration: none;
}

.extra-links a:hover {
  text-decoration: underline;
}

/* Estilos para personalizar la barra de desplazamiento */

:root {
  /* Variables para el scrollbar */
  --scrollbar-width: 8px;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
}
/* Estilos para personalizar la barra de desplazamiento */
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Usamos 'thin' para un scrollbar más delgado */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Estilos para el menú de redes sociales */
.social-media {
  text-align: center;
  margin-top: 20px;
}

.social-media p {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.social-media a {
  display: inline-block;
  margin: 0 5px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 2px solid var(--text-color);
  border-radius: 50%;
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  transition: all 0.3s ease;
}

.social-media a:hover {
  background-color: var(--text-color);
  color: var(--white);
}

/* Estilos para el botón de "Solicitá un turno" */
.solicita-turno {
  margin-top: 10px;
  text-align: right;
}

.button-solicita-turno {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-background);
  color: var(--white);
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.button-solicita-turno:hover {
  background-color:  #45a049;
}

.button-solicita-turno i {
  margin-right: 8px;
}

/* Estilos para los resultados del procesamiento */
.resultado-contacto, .resultado-registro, .resultado-login {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para el botón de "Volver al inicio" */
.button-volver-inicio {
  background-color: var(--primary-background);
  color: var(--white);
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 13px;
}


.button-volver-inicio:hover {
  background-color: #45a049;
}

/* Estilos para la página en construcción */
.construccion {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.construccion h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.construccion p {
  font-size: 1.2em;
  margin-bottom: 20px;
}


/* Estilos para el formulario de contacto */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.submit-button {
  background-color: #ff7f2a;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.submit-button:hover {
  background-color: #e6691b;
}

.genero {
  display: flex;
  flex-direction: column;
}

.genero-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.genero-options label {
  display: flex;
  align-items: center;
}

.genero-options input {
  margin-right: 10px;
}

.hidden {
  display: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
}